@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-color: #fefefe;
    background-image: url(../img/Decore.png);
    background-position: top right; 
    background-repeat: no-repeat;
    background-size: 45%;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2% 5%;
}

nav{
    display: flex;
    align-items: center;
    gap: 55px;
    font-family: "Google Sans", sans-serif;
    transition: all 0.5 ease;
}
nav a{
    text-decoration: none;
    color: #212832;
    font-weight: 600;
    transition: all 0.5s ease;
}

.singup{
    border: 2px solid #212832;
    padding: 10px 15px;
    border-radius: 5px;
    transition: all 0.5s ease;
}

.singup:hover{
    background-color: #212832;
    color: #fff;
}

nav a:hover{
    transform: scale(105%);
    text-decoration: underline;
}

main{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.header-main{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 5%;
    width: 35%;
    margin-bottom: 5%;
}

.header-main h4{
    font-family: "Poppins", sans-serif;
    color: #DF6951;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}

.header-main h1{
    font-family: "Volkhov", serif;
    color: #181E4B;
    font-size: 50px;
    font-weight: 900;
}

.header-main p{
    font-family: "Poppins", sans-serif;
    font-size: 14px;
}

.header-main-botao{
    display: flex;
}

.header-main-botao a{
    text-decoration: none;
    background-color: #fe8c00;
    padding: 15px 20px;
    margin-top: 10px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    color: white;
    font-family: "Google Sans", sans-serif;
    transition: all 0.5s ease;
}

.header-main-botao a:hover{
    transform: scale(110%);
    background-color: #e98000;
}

.play-demo{
    background-color: #fe8c00;
}

.img-main{
    width: 44%;
}

.img-main img{
    width: 92%;
}