@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-color: #f2f2f2;
    background-image: url(../img/Decore.png);
    background-position: top right; 
    background-repeat: no-repeat;
    background-size: 45%;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2% 5%;
}

nav{
    display: flex;
    align-items: center;
    gap: 25px;
    font-family: "Google Sans", sans-serif;
    transition: all 0.5s ease;
  
}
nav a{
    text-decoration: none;
    color: #212832;
    font-weight: 600;
    transition: all 0.5s ease;
}

.singup{
    border: 2px solid #212832;
    padding: 10px 15px;
    border-radius: 5px;
    transition: all 0.5s ease;
}

.singup:hover{
    background-color: #212832;
    color: #fff;
}

nav a:hover{
    transform: scale(102%);
    text-decoration: underline;
}

main{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.header-main{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 5%;
    width: 35%;
    margin-bottom: 5%;
}

.header-main h4{
    font-family: "Poppins", sans-serif;
    color: #DF6951;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}

.header-main h1{
    font-family: "Volkhov", serif;
    color: #181E4B;
    font-size: 50px;
    font-weight: 900;
}

.header-main p{
    font-family: "Poppins", sans-serif;
    font-size: 14px;
}

.header-main-botao{
    display: flex;
}

.header-main-botao a{
    text-decoration: none;
    background-color: #fe8c00;
    padding: 15px 20px;
    margin-top: 10px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    color: white;
    font-family: "Google Sans", sans-serif;
    transition: all 0.5s ease;
}

.header-main-botao a:hover{
    transform: scale(110%);
    background-color: #e98000;
}

.play-demo{
    background-color: #fe8c00;
}

.img-main{
    width: 44%;
}

.img-main img{
    width: 92%;
}

.services-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-top: 8%;
}

.services-container h4{
    color: #5E6282;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}

.services-container h2{
    color: #14183E;
    font-family: "Volkhov", serif;
    font-size: 45px;
}

.services-cards{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    gap: 70px;
    flex-wrap: wrap;
}

.card-calculated{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 220px;
    height: 250px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

.card-calculated h4{
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    padding-top: 22px;
}

.card-calculated p{
    font-family: "Poppins", sans-serif;
    color: #5E6282;
    font-size: 14px;
    margin: 0 10px;
}

.card-flights{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 210px;
    height: 250px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
}

.card-flights h4{
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
}

.card-flights p{
    font-family: "Poppins", sans-serif;
    color: #5E6282;
    font-size: 14px;
    margin: 0 10px;
    margin-bottom: 40px;
}

.destinations-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-top: 8%;
}

.destinations-container h4{
    color: #5E6282;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}

.destinations-container h2{
    color: #14183E;
    font-family: "Volkhov", serif;
    font-size: 45px;
}

.cards-destinations{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}

.locais-roma {
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 250px;
  height: 400px;
  background-color: #fff;
  margin: 5% 2%;
  background-image: url(../img/roma.png);
  background-repeat: no-repeat;
  background-size: 100% 70%;
  border-radius: 8px;
  background-position: top;
}

.locais-header{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin: 0 auto;
    padding-bottom: 23%;
    gap: 80px;
    font-family: "Poppins", sans-serif;
    color: #5E6282;
    font-weight: 500;
    font-size: 16px;
}

.locais-london {
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 250px;
  height: 400px;
  background-color: #fff;
  margin: 5% 2%;
  background-image: url(../img/london.jpg);
  background-repeat: no-repeat;
  background-size: 100% 70%;
  border-radius: 8px;
  background-position: top;
}

.locais-full-europe{
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 250px;
  height: 400px;
  background-color: #fff;
  margin: 5% 2%;
  background-image: url(../img/europe.jpg);
  background-repeat: no-repeat;
  background-size: 100% 70%;
  border-radius: 8px;
  background-position: top;
}

.trip{
    display: flex;
    justify-content: space-around;
    margin-top: 6%;
    align-items: center;
}

.trip-header{
    margin-left: 13%;
    display: flex;
    flex-direction: column;
}

.trip-header h4{
    margin-bottom: 40px;
    color: #5E6282;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}

.trip-header h2{
    margin-bottom: 50px;
    font-family: "Volkhov", serif;
    font-size: 45px;
    color: #14183E;
    width: 75%;
}

.trip-infos{
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-top: 1%;
    flex-wrap: wrap;
}

.trip-infos h5{
    color: #5E6282;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
}

.trip-infos p{
    color: #5E6282;
    font-family: "Poppins", sans-serif;
    font-size: 13px;
}

.trip-infos-make{
    display: flex;
    align-items: center;
    gap: 20px;
    width: 50%;
}

.trip-infos-choose{
    display: flex;
    align-items: center;
    gap: 20px;
    width: 50%;
}

.trip-infos-reach{
    display: flex;
    align-items: center;
    gap: 20px;
    width: 50%;
}

.trip-img{
    margin-top: 10%;
    flex-wrap: wrap;
}